@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    margin 0;
}

 
/* Definição da cor branca da página*/
html{
    background-color: #e5e9e9;

}
/*posição dos tópicos - Ryan Hnerique */
.topicos{
    position: absolute;
    top: 180px;
    left: 650px;
    font-size: large;
   

}
footer {
    background-color: #111;
    box-shadow: 0 0 10px black;
    margin: 0px;
    padding: 8px;
    display: flex;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;   
    position:static ;
}

/* Coloca a cor de um link já visitado de bisque - Gustavo Chaves */
.footer-content a:visited {
    color: bisque;
}
/* Ao passar o cursor do mouse sobre o link, a sua cor muda para chartreuse - Gustavo Chaves */
.footer-content a:hover {
    color: chartreuse;
}

h3{
    padding: 40px;
    display: block;
    color: white;
}
.navbar{
	position: absolute;
	height: 98px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}
.navbar .logo{
	width: 480px;
	height: auto;
	padding: 8px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 100px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(95, 0, 133);
	border-radius: 5px;
}
.fundo{
    display: block;
    width: 2000px;
    height: auto;
    position: static;
}
/*Mudança de cor , anulando marcação - Ryan Henrique */
.cor{
    color: aqua;
    text-decoration: none;
    
}
.cor:hover{
    color: rgb(221, 127, 255);
    
}
/*Tirando as marcações - Ryan Henrique*/
.tp li{
    text-decoration: none;
    list-style: none;
}
