/*importando fontes - Gustavo Chaves*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*personalizando search-box - Gustavo Chaves*/
.container{
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}
.container .search-box{
    position: relative;
    height: 42px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #323334;
    padding: 0 15px 0 45px;
    color: #fff;
    border-radius: 6px;
}
.search-box i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    font-size: 20px;
    transform: translateY(-50%);
}
/*personalizando as imagens, o formato de exibição e texto - Gustavo Chaves*/
.container .images .image-box{
    position: relative;
    height: 300px;
    width: 210px;
    border-radius: 6px;
    overflow: hidden;
}
.images{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images .image-box{
    margin: 8px;
}
.images .image-box img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
}
.image-box:hover img{
    transform: scale(1.05);
}
.image-box h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}
/*definindo/personalizando o fundo - Gustavo Chaves*/
body {
    url(background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 92%;
}
/*personalizando o footer - Gustavo Chaves*/
footer {
    background-color: #111;
    box-shadow: 0 0 10px black;
    margin: 0px;
    padding: 8px;
    display: block;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;   
}

/* Coloca a cor de um link já visitado de bisque - Gustavo Chaves */
.footer-content a:visited {
    color: bisque;
}
/* Ao passar o cursor do mouse sobre o link, a sua cor muda para chartreuse - Gustavo Chaves */
.footer-content a:hover {
    color: chartreuse;
}

/*importando fonts - Gustavo Chaves*/
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}

/*personalizando navbar (Header) - Gustavo Chaves*/
.navbar{
	position: fixed;
	height: 98px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
}
.navbar .logo{
	width: 180px;
	height: auto;
	padding: 8px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 100px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
/*colocando o efeito de deixar roxo ao passar o mouse por cima e ao clicar em uma seção na navbar - Gustavo Chaves*/
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgb(95, 0, 133);
	border-radius: 5px;
}
