
</head>
<body>
        header{

        }
/* definindo header em altura, cor e onde ele ira ficar  
        header {
            background-color:beige ;
            min-height: 80px;
            text-align: center;
            padding-top: 1px;
        }
/* definindo cor, tamanho e fonte para o h1
        header > h1{
            color: black;
            font-size: 35px;
            font-family: cursive;
        }
    </style>
</body>
</html>
