body {
    background: #ffffff;
}

footer {
    background-color: #111;
    box-shadow: 0 0 10px black;
    margin: 0px;
    padding: 8px;
    display: block;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;   
}

/* Coloca a cor de um link jรก visitado de bisque - Gustavo Chaves */
.footer-content a:visited {
    color: bisque;
}
/* Ao passar o cursor do mouse sobre o link, a sua cor muda para chartreuse - Gustavo Chaves */
.footer-content a:hover {
    color: chartreuse;
}